*{
    margin: 0;
    padding: 0;
    
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4, 9, 30, 0.6), rgba(4, 9, 30, 0.6)),
     url( assets/Bitmap.png);
    background-position: center;
    background-size: cover;
   
    position: relative;
}
nav{
  display: flex;
  justify-content: space-between;
margin-top: 0px;
    align-items:center;

}
nav img {
    width: 150px;
}
.nav-link{
    flex: 1;
    text-align: right;
}
.nav-link ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    margin-top: 0px;
    color: white;
    font-family: Open Sans;
font-style: normal;

font-size: 18px;
line-height: 20px;
}
.nav-link ul li a{
    color: #fff;
    text-orientation: none;

    font-family: Open Sans;
font-style: normal;

font-size: 20px;
line-height: 12px;
}

    
.nav-link ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background-color: #EE7892;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-link ul li:hover::after{
    width: 100%;

}

.text-box{
     width: 90%; 
    color: #fff;
    position: absolute;
    top: 50%;
  margin-left: 50px;
    transition: transalate(-50%,-50%);
    text-align: left;
}
.text-box h1{
   Font size: 80px

} 
.text-box p{
    color: white;

    font-style: normal;
    Font family: Open Sans
Font style: SemiBold
Font size: 18px
} 
.btn{
 display: inline-block;
 text-decoration: none;
 color: white ;
 border: 1px;
 padding: 12px 34px;
 font-size: 12px;
 background-color: #F97794;
 position: relative;
}

nav .fa{
    display: none;
}
@media(max-width: 700px){
    .text-box h1{

        font-size: 45px;

       

    }
     .text-box p{
       color: white;
    
    font-style: normal;
    Font family: Open Sans;
Font style: SemiBold;
Font size: 18px;


    }

.nav-link ul li{
        display: block;
        color: black;

        }
  .nav-link{

position: absolute;
background: #fff;
height: 100vh;
width: 200px;
top: 0;
right: -200px;
text-align: left;
z-index: 2;
transition: 1s;
}

        
nav .fa{

            display: block;
            color: #F97794;
         margin-right: 30%;
            font-size: 22px;
            cursor: pointer;
          }
.nav-link ul{
            padding: 30px;
          }
  } 

 .web {
   Font-family: Open Sans;
   Font-style: Bold;
   Font-size: 80px;
   height: 76px;
   color: white;
   text-align: Left;

 }

 .btn {
   background-color: #F97794;
   Font-family: Open Sans;
   Font-style: SemiBold;
   Line-height: 20px;
   Line-height: 100%;
   Font-size: 15px;

   border-radius: 30px;
   text-align: Center;

 }

 .service {
   background-color: #b41419;
   border: 1px solid black;
   outline: 1px solid red;
   outline-offset: 15px;
 }

 .idea {
   background-image: url('assets/BG/bg-1.svg');
   padding: 8px;
 }

 .radius {
   border-radius: 4px;
   margin-top: 7px;
   padding: 16px;
   background-color: #ff6666;
   border-radius: 28px;
 }

 ;

 .curved {
   margin: 0 auto;
   height: 400px;
   background: lightblue;
   border-radius: 0 0 200px 200px;
 }

 .service {
   padding: 9px;
 }

 .choose {
   background-image: url('assets/BG/neoiyellow.png');
   background-size: 100% 100%;
   width: 100%;
   height: 250px;
   background-repeat: none;
   overflow: hidden;
   margin: 7px;


 }




 .choose .trans {
   font-family: sans-serif;
   width: 100%;
   height: 350px;
   background-color: rgba(0, 0, 0, 0.9);
   transform: translateY(370px) scaleY(0);
   color: white;
   text-align: center;
   transition: 2s;
 }

 .choose:hover .trans {
   transform: translateY(0px)scaleY(1);
 }

 .countries {

   background-size: 100% 100%;
   background-image: url('assets/BG/countries.png ');
   height: 280px;
 }

 .patner {
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


   outline: 1px solid darkgrey;
   margin-top: 50px;

   height: 55%;

 }

.pink-color {
  color:white;
  background-color: #F97794;
 border-radius: 50%;
  border: 1px solid #F97794;
  padding: 10px;

 }
 .text {


   color: #445A64;


   Font-family: Open Sans;
   Font-style: Regular;
   Font-size: 15px;
   text-align: center;
   padding: 15px;
   position: absolute; 
   top: 70%;

 }
 @media(max-width: 700px){
    .patner{

       display: none;
    }
 .dp {
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);


   outline: 1px solid darkgrey;
   margin-top: 50px;
   padding: 5px;
   text-align: center;
   background-color: white
 }
 

 .placeholder {
   padding: 3%;
   width: 100%;
   border-radius: 30px;
   border: 1px solid #e5e5e5;
   margin: 3%;
   color: #e5e5e5;
   font-size: 15px;
 }

 .vb {
   width: 100%;
   height: 247px;
   border-radius: 10px;

   border: none;
   margin: 3%;
   color: #e5e5e5;
   font-size: 15px;


 }

 @media (max-width: 768px) {
   .web {
     font-size: 65px;
   }
 }

 @media (max-width: 576px) {
   .web {
     font-size: 45px;
   }
 }

 @media (min-width: 768px) {
   .navbar .navbar-brand {
     padding: 20px 15px;
   }

   .navbar .nav:not(.navbar-right)>li>a {
     padding: 20px 15px;
   }

   .navbar-form {
     margin-top: 14px;
   }
 }

 .blog .carousel-indicators {
	left: 0;
	top: auto;
    bottom: -40px;

}

/* The colour of the indicators */
.blog .carousel-indicators li {
    background: #EE7892;
    border-radius: 50%;
    width: 8px;
    height: 8px;
}

.blog .carousel-indicators .active {
background: #EE7892;
}

/*-------------------------------*/
/*      Code snippet by          */
/*      @maridlcrmn              */
/*-------------------------------*/


section {
  padding-top: 100px;
  padding-bottom: 100px;
}

.quote {
  color: rgba(0,0,0,.1);
  text-align: center;
  margin-bottom: 30px;
}

/*-------------------------------*/
/*    Carousel Fade Transition   */
/*-------------------------------*/

#fade-quote-carousel.carousel {
padding-bottom: 60px;
}
#fade-quote-carousel.carousel .carousel-inner .item {
opacity: 0;
-webkit-transition-property: opacity;
    -ms-transition-property: opacity;
        transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-inner .active {
opacity: 1;
-webkit-transition-property: opacity;
    -ms-transition-property: opacity;
        transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-indicators {
bottom: 10px;
}
#fade-quote-carousel.carousel .carousel-indicators > li {
background-color: #e84a64;
border: none;
}
#fade-quote-carousel blockquote {
  text-align: center;
  border: none;
}
#fade-quote-carousel .profile-circle {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border-radius: 100px;
}